<!--Login-->
<div *ngIf="auth">
  <app-login (newItemEvent)="login($event)"></app-login>
</div>
<!-- Toolbar -->
<div *ngIf="!auth">
<div class="toolbar" role="banner">
  <div><h1>Fenicia</h1></div>
  <div><img src="" alt=""></div>
  <div class="spacer"><input type="text" placeholder="Search for..." class="auto"></div>
  <div><img src="" alt=""></div>
</div>

<div class="wrapper">
  <div class="sidebar">
      <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#" routerLink="/add">Profile</a></li>
          <li><a href="#" routerLink="/show">About</a></li>
          <li><a href="#" routerLink="/productDetail">Portfolio</a></li>
          <li><a href="#" routerLink="/productDetail">Blogs</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Mapas</a></li>
      </ul> 
  </div>
  <div class="main_content">
      <router-outlet></router-outlet>
  </div>
</div>
</div>