.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form) {
    border-left: 5px solid #a94442; /* red */
  }
  
  .alert {
      color: red;
      background-color: rgb(255, 145, 145)
  }
  
  #container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 75% 15%;
  
  }

  #container h1 {
    color: #4CAF50;
    margin: 10px;
    padding: 10px;
    justify-self: center;
  }

  #container form {
    margin: 10px;
    padding: 10px;
    justify-self: start;
  }

  #container div-buttons {
    margin: 10px;
    padding: 10px;
    justify-self: end;
  }

.label {
  display: block;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.input {
  padding: 5px;
  margin-bottom: 5px;
  height: 25px;
  width: 350px;
  border-radius: 7px;
}

#div-buttons {
  display: flex;
  justify-content: flex-end;
  height:55px;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

  #div-buttons :hover {
    cursor: pointer;
  }

  #div-buttons button {
    border: solid 0px;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    font-size: 15px;
  }

#btnSubmit {
  background-color: #4CAF50;
  color: white;
}

#btnCancel {
  background-color: white;
  color: #4CAF50;
}