<div id="container">
    <h1>Añadir empleado</h1>
    <form #EmployeeForm="ngForm">
        <div>
            <label for="name" class="label">Nombre</label>
            <input type="text" class="input" id="name"
                    required
                    [(ngModel)]="employee.name" name="name"
                    #name="ngModel">
            <div [hidden]="name.valid || name.pristine"
                class="alert alert-danger">
                Name is required
            </div>
        </div>
        <div>
            <label for="surname" class="label">Apellido</label>
            <input type="text" class="input" id="surname"
                    required
                    [(ngModel)]="employee.surname" name="surname"
                    #surname="ngModel">
            <div [hidden]="surname.valid || surname.pristine"
                class="alert alert-danger">
                Surname is required
            </div>
        </div>
        <div>
            <label for="job" class="label">Posición</label>
            <input type="text" class="input" id="job"
                    required
                    [(ngModel)]="employee.job" name="job"
                    #job="ngModel">
            <div [hidden]="job.valid || job.pristine"
                class="alert alert-danger">
                Job is required
            </div>
        </div>
        <div>    
            <label for="email" class="label">Email</label>
            <input type="text" class="input" id="email"
                    required
                    [(ngModel)]="employee.email" name="email"
                    #email="ngModel">
            <div [hidden]="email.valid || email.pristine"
                class="alert alert-danger">
                Email is required
            </div>
        </div>
        <div>
            <label for="phone" class="label">Phone</label>
            <input type="text" class="input" id="phone"
                    required
                    [(ngModel)]="employee.phone" name="phone"
                    #phone="ngModel">
            <div [hidden]="phone.valid || phone.pristine"
                class="alert alert-danger">
                Phone is required
            </div>
        </div>
        <div>
            <label for="city" class="label">Ciudad</label>
            <input type="text" class="input" id="city"
                    required
                    [(ngModel)]="employee.city" name="city"
                    #city="ngModel" >
            <div [hidden]="city.valid || city.pristine"
                class="alert alert-danger">
                City is required
            </div>
        </div>
        <div>
            <label for="country" class="label">País</label>
            <input type="text" class="input" id="country"
                    required
                    [(ngModel)]="employee.country" name="country"
                    #country="ngModel" >
            <div [hidden]="country.valid || country.pristine"
                class="alert alert-danger">
                Country is required
            </div>
        </div>
        <div>
            <label for="salary" class="label">Salario</label>
            <input type="text" class="input" id="salary"
                    required
                    [(ngModel)]="employee.salary" name="salary"
                    #salary="ngModel" pattern="[0-9,\.]+">
            <div [hidden]="salary.valid || salary.pristine"
                class="alert alert-danger">
                Salary is required
            </div>
        </div>
    </form>
    <div id="div-buttons">
      <!-- <button id="btnSubmit" type="submit" (click)="addEmployee()" [disabled]="!EmployeeForm.form.valid">Crear empleado</button>
      <button id="btnCancel" (click)="cancel()">Cancel</button>-->
    </div>
  </div>

